.heading {
    font-family: 'Wendy One', sans-serif;
    text-align: center;
}

.pick {
    text-align: center;

}

img {
    height: 150px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    border: 4px black dotted;
    padding: 10px;
    background-color:lightblue;
      border-radius: 25px;
}

body {
    background-color: lightblue;
}